<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Swiper</title>

    <link id="favicon" rel="icon" href="/swiper.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">

    <script
      src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
      crossorigin async
      data-callback="initMapKit"
      data-libraries="map"
      data-initial-token="<%- mapkitToken %>"
    ></script>
  
    <script src="/script.mjs" type="module" defer></script>
    
  </head>
  <body>
    <header>
      <h1>chipeur</h1>
    </header>

    <form class="Form">
      <input name="q" placeholder="Recherche par besoin">
      <input name="address" placeholder="Ville, CP...">
      <input type="submit" value="Rechercher">
    </form>
    
    <div class="Results">
      
    </div>
    <script>
      function initMapKit() {
        mapkit.init({
          authorizationCallback: function(done) {
            fetch("/mapkit-token")
              .then(res => res.json())
              .then(json => done(json.token));
          }
        });
      }
    </script>
  </body>
</html>
