<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Swiper</title>

    <link id="favicon" rel="icon" href="/swiper.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="/style.css">

    <script
      src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
      crossorigin
      data-libraries="map,annotations"
      data-language="fr"
      data-initial-token="<%- mapkitToken %>"
    ></script>
  
    <script src="/script.mjs" type="module" defer></script>
    
  </head>
  <body>
    <header class="Head">
      <h1 class="SiteName">chipeur</h1>
      <form class="Form">
        <input name="q" placeholder="Recherche par besoin">
        <input name="address" placeholder="Ville, CP...">
        <input type="submit" value="Rechercher">
      </form>
    </header>

    <main class="Main">
      <div class="List">
        <table>
          <tbody class="Results">

          </tbody>
        </table>
      </div>
      <div id="map" class="Map"></div>
    </main>
  </body>
</html>
