*, *:after, *:before {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.2rem;
}
.Results {
  padding: 0;
  max-width: 45rem;
  margin: 2rem 0;
}
.Item {
  list-style: none;
  padding: 1rem;
  border: 5px solid #efefef;
  background: #fbfbfb;
  margin-bottom: 1rem;
  border-radius: .75rem;
}
.Item summary {
  margin: .5rem 0; 
}
.Item h3 {
  font-size: 1rem;
  display: inline;
}
.Presentation {
  margin: 0;
}
.Address {
  margin: .25rem 0;
  font-size: .75rem;
}