*, *:after, *:before {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.2rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: stretch;
}
.Head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding-top: 0;
  align-items: stretch;
}
.List {
  flex: 1;
  border-right: 1px solid #ccc;
  overflow: scroll;
}
.List table {
  width: 100%;
  margin: 0;
}
.Map {
  flex: 1;
  border-top: 1px solid #ccc;
}
.Results {
  padding: 0;
  max-width: 45rem;
  margin: 2rem 0;
  cursor: pointer;
}
.Item td {
  border-top: none;
  border-left: none;
  border-right: none;
}
.Placeholder.Item td {
  height: 5rem;
  color: #777;
  padding: 2rem 3rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: none;
}
.Name {
  font-size: 1rem;
  margin: 0 0 .25rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.Address, 
.Presentation {
  font-size: .85rem;
  color: #777;
}
.Presentation {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 2.5rem;
}
.Address {
  margin: .25rem 0;
  font-size: .75rem;
}

.Annotation {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  font-size: .85rem;
  color: #777;
  width: 320px;
  max-height: 240px;
  position: relative;
  top: -.5rem;
}
.Annotation::after {
  content: "";
  position: absolute;
  background: #fafafa;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  bottom: calc(-.5rem - 1px);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
}
.Annotation p:last-child {
  margin-bottom: 0;
}
.AnnotationTitle {
  display: flex;
  justify-content: space-between;
}
.AnnotationLink {
  text-decoration: none;
}
.Annotation h1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.AnnotationPrez {
  overflow: scroll;
  height: 6em;
  padding-bottom: 1rem;
  pointer-events: all;
}
.u-GradientContainer {
  position: relative;
  pointer-events: none;
}
.u-GradientContainer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2em;
  background: linear-gradient(to bottom, transparent, #fafafa 90%);
}

@media screen and (min-width: 720px) {
  .Head {
    flex-direction: row;
    justify-content: space-between;
  }
  .Main {
    flex-direction: row;
    flex: 2;
  }
  .Map {
    border: none;
  }
}
@media screen and (min-width: 1200px) {
  .Map {
    flex: 3;
  }
}
